html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html * {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

:root {
	--primary-main: #F4B183;
	--primary-ligth: #FADDC9;
	--secondary-main: #B4C7E7;
	--text: #2F4F4F;

}

/*Round Section*/

#round {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr repeat(2, 1fr) 1fr;
	grid-template-rows: 50px 1fr auto 1fr;
	gap: 20px;
	background-color: #F4B183;
	font-family: 'Ubuntu', sans-serif;
	padding: 20px;
}

#round * {
	font-family: 'Ubuntu', sans-serif;
}

#score-displayer {
	grid-area: 1 / 1 / 2 / 5;
}

#score-displayer h3 {
	text-align: right;
	color: white;
	font-size: 27px;
}

#hand {
	grid-area: 3 / 2 / 4 / 3;
	width: 350px;
	height: 450px;
	border: none;
	border-radius: 5px;
	background-color: white;
	background: linear-gradient(90deg, var(--secondary-main) 0%, white 100%);
	box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

#value {
	width: 250px;
	height: 250px;
	background-color: var(--primary-main);
	box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#value h1 {
	font-size: 120px;
	text-align: center;
	color: white;
}

#result-displayer {
	background-color: white;
	box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

}

#result-displayer h3 {
	color: var(--text);
}

#houses-container {
	grid-area: 3 / 3 / 4 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 450px;
}

.house {
	display: flex;
	justify-content: center;
	width: 450px;
	flex-wrap: wrap;
}

.card {
	display: block;
	background-color: var(--primary-ligth);
	width: 70px;
	height: 70px;
	font-size: 27px;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	transition: background-color ease-out;
	margin-right: 10px;
	margin-bottom: 10px;
	color: var(--text);
	cursor: pointer;
	font-weight: 500;
}

.card[value=true] {
	border: none;
	background-color: var(--primary-main);
	color: white;
	box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.1);
	transform: translateY(5px);
}

button:focus {
	outline: none;
}

button {
	outline: none;
}


#negative-house .card {
	background-color: var(--secondary-main);
}

.operator {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

