@media only screen and (max-width: 600px) {

	/*Intro*/

	#hero, #outro {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100vh;
		background-color: white;
		background-image: url('./img/bggr-mbl.jpg');
		background-position: bottom; 
		background-repeat: no-repeat; 
		background-size: 100% 40vh; 
		padding: 15vh 10px 10vh;
		text-align: center;
	}
	
	#hero h1 {
		font-size: 5rem;
	}

	#hero h1>span {
		color: var(--primary-main)
	}

	#hero h2 {
		font-weight: 300;
		margin-top: 30px;
	}

	#hero button {
		background-color: var(--secondary-main);
		animation: floating 10s ease-in-out infinite;
	}

	#tutorials-container {
		background-color: var(--primary-main);
		color: white;
		text-align: center;
		padding:20px;
		display: block;
		height: auto;
	}

	.tutorial {
		background-color: white;
		color: var(--text);
		margin-bottom: 20px;
		padding: 20px;
		box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
		border-radius: 5px;
	}

	.animation-box {
		height: 200px;
		width: 100%;
		background-color: var(--primary-main);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		border-radius: 5px;
	}

	#fake-timer {
		width: 100%;
		height: 100%;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: faking-the-timer 5s ease-in-out infinite;
	}

	#fake-hand, #play {
		width: 100px;
		height: 100px;
		font-weight: 700;
		color: white;
		font-size: 3rem;
	}

	#fake-card {
		display: flex;
		align-items: center;
		justify-content: center;
		animation: faking-the-card 1s ease-in alternate infinite;
	}

	#play,
	.play {
		background-color: var(--secondary-main);
		display: flex;
		align-self: center;
		justify-content: center;
	}



	/*round*/

	#round {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
		
	#score-displayer { 
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 5;
		background-color: white;
		width: auto;
		padding: 5px 20px;
		border-radius: 30px;
		box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	}

	#score-displayer h3 {
		color: var(--text);
		font-size: 1.4rem;
	}
	
	#hand { 
		width: 100vw;
		height: 40vh;
		flex-direction: row;
		justify-content: space-evenly;
		align-content: center;
		padding: 0px;
		border-radius: 0px;
		box-shadow: inset 0px -15px 15px -15px rgba(0,0,0,0.5);
	}

	#value {
		width: 30vh;
		height: 30vh;
	}

	#value h1 {
		font-size: 5rem;
	}

	#result-displayer,
	#fake-result {
		width: 50px;
		height: 50px;
	}
	
	#houses-container {
		height: 60vh;
		justify-content: space-evenly;
	}

	.house {
		width: 100vw;
	}

	.card, 
	#hero button, 
	#fake-card {
		width: 55px;
		height: 55px;
		font-size: 1.2rem;
	}

	/*outro*/

	#outro {
		background-image: url('./img/rvrs-mbl.jpg');
		background-position: top; 
		background-size: 100% 60vh; 
		padding-bottom: 20px;
	}

	#outro {
		color: white;
	}

	#outro span {
		font-size: 3.5rem;
	}

	footer {
		color: var(--text)
	}

}


