@media only screen and (max-width: 600px) {

	/*Intro*/

	#hero {
		display: flex;
		height: 100vh;
		background-color: white;
		background-image: url('./img/bggr-mbl.jpg');
		background-position: bottom; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 100% 40vh; /* Resize the background image to cover the entire container */
	}
	
	#hero h1 {
		text-align: center;
		font-size: 8rem;
	}

	/*round*/

	#round {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
		
	#score-displayer { 
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 5;
		background-color: white;
		width: auto;
		padding: 5px 20px;
		border-radius: 30px;
		box-shadow: 0px 9px 21px -9px rgba(0,0,0,0.5);
	}

	#score-displayer h3 {
		color: var(--text);
		font-size: 1.4rem;
	}
	
	#hand { 
		width: 100vw;
		height: 40vh;
		flex-direction: row;
		justify-content: space-evenly;
		align-content: center;
		padding: 0px;
		border-radius: 0px;
		box-shadow: inset 0px -15px 15px -15px rgba(0,0,0,0.5);
	}

	#value {
		width: 30vh;
		height: 30vh;
	}

	#value h1 {
		font-size: 5rem;
	}

	#result-displayer {
		width: 50px;
		height: 50px;
	}
	
	#houses-container {
		height: 60vh;
		justify-content: space-evenly;
	}

	.house {
		width: 100vw;
	}

	.card {
		width: 55px;
		height: 55px;
		font-size: 1.2rem;
	}

}


